/*GENERALIDADES*/
:root {
    --white: #ffffff;
    --Black: #000000;
    --Bg-color: #dbdbdb;
    --Gray-light: #D3D3D3;
    --card-bg-color: rgba(219, 219, 219, 0.75);
    --Orange: rgba(246, 181, 59, 0.959);
    --Red-dark: #ff0000;
    --Red-light: #ffeaea;
    --Green: #0d9e06;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Centra el contenedor principal horizontalmente (y empuja el texto abajo) */
    align-items: center; 
}

h1 {
    padding: 10px;
}

a {
    text-decoration: none;
}

/*Iconos*/
.icons {
    display: flex;
    width: 50px;
    height: 30px;
}

/*MENSAJES*/
.iconoErrors {
    margin-top: 4px;
    width: 25px;
    height: 25px;
}

.errors {
    display: flex;
    background-color: var(--Red-light);
    border: 1px solid  var(--Red-dark);
    color: var(--Red-dark); 
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 10px;
    font-size: 1.1em;
    text-align: left;
}

.errors p {
    padding: 5px;
    line-height: 1.4;
    font-weight: bold;
    margin: 0;
}

/*Botones*/
.btonesMenu button {
    border: 1px solid var(--Gray-light);
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 10px 16px;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.2s;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    a {
        color: var(--Black);
    }
}

.btonesMenu button.active-menu-item {
    background-color: var(--Gray-light);
}

.btonesMenu button:hover {
    background-color: var(--Gray-light);
    
}

/*Inicios*/
.start,
.dashAdm {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.start {
    background-image: url("../img/portada.png");
}

.dashAdm {
    background-image: url("../img/portada3.png");
}

.logoSena {
    margin: 0;
    width: 330px;
    transform: translateX(9rem);
    display: flex;
    align-self: center;
    border-radius: 624rem;
    padding: 12px;
    background: var(--Bg-color);
    
}

.form-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.divForm {
    height: 380px;
    width: 650px;
    border-radius: 24px;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

form {
    padding: 20px;
    margin: 10px;
}

.divForm input[type="text"],
.divForm input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-right: 50px; 
    box-sizing: border-box;
}

.password-container .toggle-password {
    position: absolute;
    cursor: pointer;
    color: black;
}

.password-container {
    position: relative; 
    width: 100%;
}

.toggle-password {
    position: absolute; 
    right: 15px; 
    top: 35%; 
    transform: translateY(-50%); 
    cursor: pointer;
    font-size: 1.2em; 
    z-index: 10;
}

.btonEnter {
    color: var(--white);
    background-color: var(--Orange);
    padding: 10px;
    border-radius: 10px;
    width: 90px;
    border: none;
}

.btonEnter:hover {
    cursor: pointer;
}

/*Inicio Administrador*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    background-color: var(--Green);
    min-height: 100vh;
    padding: 16px;
    box-sizing: border-box;
    transition: width 0.3s ease;
    max-height: 100vh; 
    overflow-y: auto;
    scrollbar-width: none; 
}

.menu::-webkit-scrollbar {
    display: none;
}

#menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-hidden #menuHeader h2,
.menu-hidden .btonesMenu {
    display: none;
}

.menu-hidden {
    width: 60px;
    overflow-y: hidden;
}

#hamburgerIcon {
    cursor: pointer; 
}

